Repository stlatica/stlatica, pull requests merged in 2023-12, with the labels that each got.

#206 plats tableのDDL追加 & schemaよりコード自動生成
  packages/backend/.golangci.yaml
  packages/backend/app/domains/entities/plats.go
  packages/backend/app/domains/types/actor_id.go
  packages/backend/app/domains/types/plat_id.go
  packages/backend/app/domains/types/user_id.go
  packages/backend/app/repositories/entities/boil_table_names.go
  packages/backend/app/repositories/entities/plats.go
  packages/backend/db/migrations/20231203180150_add_plats.sql
  packages/backend/db/sqlboiler/sqlboiler.toml
  packages/backend/db/sqlboiler/templates/entities.go.tpl
Labels: backend

#229 user_idに関するdescriptionの一部修正
  packages/shared/openapi/internalapi/parameters/user_id.yaml
  packages/shared/openapi/internalapi/schemas/UserID.yaml
Labels: backend

#205 Airの説明を追加
  packages/backend/README.md
Labels: documentation, backend

#210 platのdomainを実装
  packages/backend/app/domains/plats/factory.go
  packages/backend/app/domains/plats/get.go
  packages/backend/app/domains/plats/ports/input_port.go
Labels: backend

#192 丸いユーザアイコンコンポーネント追加
  packages/frontend/.eslintrc.json
  packages/frontend/src/app/page.tsx
  packages/frontend/src/components/common/UserIcon/UserIcon.stories.tsx
  packages/frontend/src/components/common/UserIcon/UserIcon.test.tsx
  packages/frontend/src/components/common/UserIcon/UserIcon.tsx
  packages/frontend/src/components/common/UserIcon/UserIconSampleImage.ts
  packages/frontend/src/components/common/UserIcon/__snapshots__/UserIcon.test.tsx.snap
  packages/frontend/src/components/common/UserIcon/index.ts
  packages/frontend/src/components/common/UserIcon/sample/UserIconBase64Sample1.ts
Labels: frontend

#232 Add description about backend structure to README
  packages/backend/README.md
Labels: documentation, backend
