Repository stlatica/stlatica, pull requests merged in 2023-11, with the labels that each got.

#170 最新のopenapi定義からinternal apiのコードを生成
  packages/backend/Makefile
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_server.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_spec.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_types.gen.go
  packages/backend/app/controllers/internalapi/v1/sample_user.go
  packages/backend/app/controllers/internalapi/v1/user.go
  packages/backend/docker-compose.yaml
  packages/backend/docker/Dockerfile_redocly
Labels: backend

#172 actor entityを追加
  packages/backend/app/domains/entities/actors.go
  packages/backend/app/domains/types/actor_id.go
  packages/backend/app/repositories/entities/actors.go
  packages/backend/app/repositories/entities/boil_table_names.go
  packages/backend/app/repositories/entities/sample_users.go
  packages/backend/db/migrations/20230811201759_add_sample_user.sql
  packages/backend/db/migrations/20231029184844_new_migration.sql
  packages/backend/db/sqlboiler/sqlboiler.toml
  packages/backend/db/sqlboiler/templates/entities.go.tpl
  packages/backend/go.mod
  packages/backend/go.sum
Labels: backend

#176 Actor取得のdomain logicを追加
  packages/backend/app/domains/actors/factory.go
  packages/backend/app/domains/actors/get.go
  packages/backend/app/domains/actors/ports/input_port.go
Labels: backend

#166 エラー設計を追加
  docs/designs/error_response.md
Labels: design

#179 golangciの設定を一部修正
  packages/backend/.golangci.yaml
  packages/backend/app/controllers/internalapi/v1/user.go
  packages/backend/app/domains/types/actor_id.go
  packages/backend/app/domains/types/unix_time.go
Labels: backend

#181 Actor DAOを追加
  packages/backend/app/repositories/dao/actor_dao.go
Labels: backend

#180 Actor取得endpointのusecase logicを追加
  packages/backend/app/usecases/actors/usecase.go
Labels: backend

#182 User取得endpointのmain/controller logicを追加
  packages/backend/app/cmd/inits/db.go
  packages/backend/app/cmd/internalapi/main.go
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/user.go
  packages/backend/app/domains/types/actor_id.go
  packages/backend/go.mod
  packages/backend/go.sum
Labels: backend

#135 バックエンドのDocker化
  .gitignore
  packages/backend/.air.toml
  packages/backend/Makefile
  packages/backend/docker-compose.yaml
  packages/backend/docker/Dockerfile_air
Labels: backend

#171 タイムラインにおけるPlatCellの作成
  packages/frontend/src/app/EditProfile/TimeLine.tsx
  packages/frontend/src/app/EditProfile/X.tsx
  packages/frontend/src/app/EditProfile/page.tsx
  packages/frontend/src/app/EditProfile/zod/PlatInput.tsx
  packages/frontend/src/app/EditProfile/zod/page.tsx
  packages/frontend/src/components/common/PlatCell/PlatCell.stories.tsx
  packages/frontend/src/components/common/PlatCell/PlatCell.tsx
  packages/frontend/src/components/common/PlatCell/__snapshots__/PlatCell.test.tsx.snap
  packages/frontend/src/components/common/PlatCell/index.ts
Labels: frontend

#175 MUIのアンインストール
  packages/frontend/.ladle/config.mjs
  packages/frontend/package.json
  packages/frontend/plop/components/snapshot.test.tsx.hbs
  packages/frontend/plop/components/story.tsx.hbs
  packages/frontend/plop/components/styled.tsx.hbs
  packages/frontend/plop/plopfile.js
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/app/EditProfile/TimeLine.tsx
  packages/frontend/src/app/EditProfile/X.tsx
  packages/frontend/src/app/EditProfile/page.tsx
  packages/frontend/src/app/EditProfile/zod/PlatInput.tsx
  packages/frontend/src/app/EditProfile/zod/page.tsx
  packages/frontend/src/app/page.tsx
  packages/frontend/src/app/sample/TimeLine.tsx
  packages/frontend/src/app/sample/X.tsx
  packages/frontend/src/app/sample/page.tsx
  packages/frontend/src/app/sample/zod/PlatInput.tsx
  packages/frontend/src/app/sample/zod/page.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserViewTop/LeftUserViewTop.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserViewTop/__snapshots__/LeftUserViewTop.test.tsx.snap
  packages/frontend/src/components/block/LeftUserView/__snapshots__/LeftUserView.test.tsx.snap
  packages/frontend/src/components/button/CancelButton/CancelButton.tsx
  packages/frontend/src/components/button/CancelButton/__snapshots__/CancelButton.test.tsx.snap
  packages/frontend/src/components/button/FollowButton/FollowButton.tsx
  packages/frontend/src/components/button/FollowButton/__snapshots__/FollowButton.test.tsx.snap
  packages/frontend/src/components/button/SubmitButton/SubmitButton.tsx
  packages/frontend/src/components/button/SubmitButton/__snapshots__/SubmitButton.test.tsx.snap
  packages/frontend/src/components/common/PlatCell/PlatCell.tsx
  packages/frontend/tsconfig.json
Labels: frontend

#185 add todo comment #184
  packages/frontend/src/components/common/PlatCell/PlatCell.tsx
Labels: frontend

#187 style属性を使っている箇所をtailwindに置き換え
  packages/frontend/.eslintrc.json
  packages/frontend/src/components/button/BackButton/BackButton.test.tsx
  packages/frontend/src/components/button/CancelButton/CancelButton.stories.tsx
  packages/frontend/src/components/button/CancelButton/CancelButton.test.tsx
  packages/frontend/src/components/button/CancelButton/sample.tsx
  packages/frontend/src/components/common/PlatCell/PlatCell.stories.tsx
  packages/frontend/src/components/common/PlatCell/PlatCell.test.tsx
  packages/frontend/src/components/common/PlatCell/PlatCell.tsx
  packages/frontend/src/components/common/PlatCell/__snapshots__/PlatCell.test.tsx.snap
Labels: frontend

#163 OpenAPIのHTML化、バンドル、Lint 等々のコマンドを追加
  packages/shared/openapi/.gitignore
  packages/shared/openapi/README.md
  packages/shared/openapi/package.json
  packages/shared/openapi/pnpm-lock.yaml
Labels: documentation, environment

#186 plat取得・投稿・削除のendpointをopenapiで定義
  packages/shared/openapi/internalapi/openapi.yaml
  packages/shared/openapi/internalapi/parameters/plat_id.yaml
  packages/shared/openapi/internalapi/paths/plat.yaml
  packages/shared/openapi/internalapi/schemas/ErrorResponse.yaml
  packages/shared/openapi/internalapi/schemas/Plat.yaml
  packages/shared/openapi/internalapi/schemas/PlatID.yaml
  packages/shared/openapi/internalapi/schemas/PlatPost.yaml
Labels: backend

#147 HostMetaの定義を追加
  packages/shared/openapi/externalapi/openapi.yaml
Labels: backend
