Repository stlatica/stlatica, pull requests merged in 2023-10, with the labels that each got.

#132 fix plop template
  packages/frontend/plop/components/component.tsx.hbs
  packages/frontend/plop/components/sample.tsx.hbs
  packages/frontend/plop/components/snapshot.test.tsx.hbs
  packages/frontend/plop/components/story.tsx.hbs
  packages/frontend/plop/plopfile.js
Labels: frontend, environment

#133 ci/ を ci: にした
  .github/workflows/actions.yml
  packages/frontend/package.json
Labels: infra, frontend, environment

#120 Actor取得endpointのopenapi定義を追加
  packages/shared/openapi/externalapi/openapi.yaml
Labels: backend

#137 vitestへの移行
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
Labels: frontend, environment

#134 User取得endpointのopenapi定義を追加
  packages/shared/openapi/internalapi/openapi.yaml
  packages/shared/openapi/internalapi/parameters/user_id.yaml
  packages/shared/openapi/internalapi/paths/users.yaml
  packages/shared/openapi/internalapi/schemas/ErrorResponse.yaml
  packages/shared/openapi/internalapi/schemas/User.yaml
  packages/shared/openapi/internalapi/schemas/UserID.yaml
Labels: backend

#165 不要なsample endpointを削除
  packages/shared/openapi/internalapi/openapi.yaml
Labels: design

#173 画面左側のパネル仮実装 area/#127
  packages/frontend/.eslintrc.json
  packages/frontend/.ladle/components.tsx
  packages/frontend/.vscode/extensions.json
  packages/frontend/.vscode/settings.json
  packages/frontend/README.md
  packages/frontend/package.json
  packages/frontend/plop/plopfile.js
  packages/frontend/pnpm-lock.yaml
  packages/frontend/postcss.config.js
  packages/frontend/src/app/global.css
  packages/frontend/src/app/layout.tsx
  packages/frontend/src/app/page.tsx
  packages/frontend/src/app/user/[id]/DummyTimeLines.tsx
  packages/frontend/src/app/user/[id]/page.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserView.stories.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserView.test.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserView.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserViewTop/LeftUserViewTop.stories.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserViewTop/LeftUserViewTop.test.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserViewTop/LeftUserViewTop.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserViewTop/__snapshots__/LeftUserViewTop.test.tsx.snap
  packages/frontend/src/components/block/LeftUserView/LeftUserViewTop/index.ts
  packages/frontend/src/components/block/LeftUserView/__snapshots__/LeftUserView.test.tsx.snap
  packages/frontend/src/components/block/LeftUserView/index.ts
  packages/frontend/src/components/button/BackButton/BackButton.stories.tsx
  packages/frontend/src/components/button/BackButton/BackButton.test.tsx
  packages/frontend/src/components/button/BackButton/BackButton.tsx
  packages/frontend/src/components/button/BackButton/__snapshots__/BackButton.test.tsx.snap
  packages/frontend/src/components/button/BackButton/index.ts
  packages/frontend/src/components/button/FollowButton/FollowButton.tsx
  packages/frontend/tailwind.config.ts
  packages/frontend/vitest.config.ts
Labels: frontend
