Repository stlatica/stlatica, pull requests merged in 2024-09, with the labels that each got.

#594 redocly サーバーを永続起動するようにした
  .github/workflows/actions.yml
  packages/shared/openapi/Makefile
  packages/shared/openapi/README.md
  packages/shared/openapi/docker-compose.yaml
  packages/shared/openapi/docker/Dockerfile
  packages/shared/openapi/internalapi/openapi.yaml
Labels: environment

#602 Stlatica DB Management Tool の作成
  packages/db-manager/.devcontainer/devcontainer.json
  packages/db-manager/.devcontainer/docker-compose.yml
  packages/db-manager/.dockerignore
  packages/db-manager/.gitignore
  packages/db-manager/.npmrc
  packages/db-manager/.prettierignore
  packages/db-manager/.prettierrc
  packages/db-manager/Dockerfile.node
  packages/db-manager/Makefile
  packages/db-manager/README.md
  packages/db-manager/docker-compose.yml
  packages/db-manager/eslint.config.js
  packages/db-manager/package.json
  packages/db-manager/pnpm-lock.yaml
  packages/db-manager/prisma/schema.prisma
  packages/db-manager/src/app.d.ts
  packages/db-manager/src/app.html
  packages/db-manager/src/index.test.ts
  packages/db-manager/src/lib/faker/user.ts
  packages/db-manager/src/lib/hono/hono.server.ts
  packages/db-manager/src/lib/hono/honoClient.ts
  packages/db-manager/src/lib/index.ts
  packages/db-manager/src/lib/material/button/button.svelte
  packages/db-manager/src/lib/material/button/button.ts
  packages/db-manager/src/lib/material/input/text-input.svelte
  packages/db-manager/src/lib/prisma.server.ts
  packages/db-manager/src/lib/styles/global.css
  packages/db-manager/src/lib/styles/theme.css
  packages/db-manager/src/lib/styles/tw-variables/_index.css
  packages/db-manager/src/lib/styles/tw-variables/border.css
  packages/db-manager/src/lib/styles/tw-variables/font-size.css
  packages/db-manager/src/lib/styles/tw-variables/rounded-optional.css
  packages/db-manager/src/lib/styles/tw-variables/rounded.css
  packages/db-manager/src/lib/styles/tw-variables/size.css
  packages/db-manager/src/lib/styles/tw-variables/transition.css
  packages/db-manager/src/lib/styles/utilities.css
  packages/db-manager/src/lib/utilities/FormdataToObject.ts
  packages/db-manager/src/routes/+layout.svelte
  packages/db-manager/src/routes/+layout.ts
  packages/db-manager/src/routes/+page.svelte
  packages/db-manager/src/routes/api/[...paths]/+server.ts
  packages/db-manager/src/routes/user/create/+page.server.ts
  packages/db-manager/src/routes/user/create/+page.svelte
  packages/db-manager/src/routes/view/users/+page.server.ts
  packages/db-manager/src/routes/view/users/+page.svelte
  packages/db-manager/static/favicon.ico
  packages/db-manager/svelte.config.js
  packages/db-manager/tsconfig.json
  packages/db-manager/vite.config.ts
Labels: backend

#603 openapi の docker を実験的修正
  packages/shared/openapi/docker/Dockerfile
Labels: backend

#606 Remove zod
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/zod/Plat/PlatSchema.test.ts
  packages/frontend/src/zod/Plat/PlatSchema.ts
Labels: frontend

#600 error handlingを修正
  packages/backend/app/adapters/images/adapter.go
  packages/backend/app/controllers/internalapi/v1/error_handler.go
  packages/backend/app/domains/errors/domain_error.go
  packages/backend/app/domains/errors/error_type.go
  packages/backend/app/repositories/dao/plat_dao.go
  packages/backend/app/repositories/dao/user_dao.go
Labels: backend

#531 ユーザアイコン取得endpointの実装
  packages/backend/app/cmd/internalapi/main.go
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/user.go
  packages/backend/app/domains/entities/users.boil.go
  packages/backend/app/domains/types/image_id.go
  packages/backend/app/repositories/dao/user_dao.go
  packages/backend/app/repositories/entities/users.go
  packages/backend/app/usecases/users/ports/adapter.go
  packages/backend/app/usecases/users/usecase.go
  packages/backend/db/migrations/20231029184844_add_users.sql
  packages/backend/db/sqlboiler/sqlboiler.toml
  packages/backend/db/sqlboiler/templates/entities.go.tpl
Labels: backend

#598 defaultで設定するユーザアイコン用画像を追加
  packages/backend/app/assets/default_profile.jpeg
Labels: backend

#592 goを1.22.6にバージョンアップ
  packages/backend/.go-version
  packages/backend/docker/Dockerfile_air
  packages/backend/docker/Dockerfile_goose
  packages/backend/go.mod
  packages/backend/go.sum
Labels: backend, dependencies

#615 timeline endpointでuser_id parameterをハンドリングできるように修正
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/plat.go
Labels: backend

#617 go air のバージョンをlatestではなく直接指定
  packages/backend/docker/Dockerfile_air
Labels: backend

#599 Create user endpoint/#593
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_spec.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_types.gen.go
  packages/backend/app/controllers/internalapi/v1/user.go
  packages/backend/app/domains/users/factory.go
  packages/backend/app/domains/users/ports/output_port.go
  packages/backend/app/domains/users/post.go
  packages/backend/app/repositories/dao/user_dao.go
  packages/backend/app/usecases/users/usecase.go
  packages/backend/mock/controllers/internalapi/v1/handler.go
  packages/shared/openapi/internalapi/paths/users.yaml
Labels: enhancement, backend
