Repository stlatica/stlatica, pull requests merged in 2024-01, with the labels that each got.

#245 timeline取得endpointのopenapi定義を追加
  packages/shared/openapi/internalapi/openapi.yaml
  packages/shared/openapi/internalapi/parameters/plat_id.yaml
  packages/shared/openapi/internalapi/parameters/timeline_id.yaml
  packages/shared/openapi/internalapi/paths/plats.yaml
  packages/shared/openapi/internalapi/paths/timelines.yaml
  packages/shared/openapi/internalapi/schemas/PlatPost.yaml
Labels: backend

#246 Update gen codes
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_server.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_spec.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_types.gen.go
Labels: backend

#188 Edit profile/#130
  packages/frontend/.vscode/settings.json
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/app/EditProfile/IconEditor.tsx
  packages/frontend/src/app/EditProfile/page.tsx
  packages/frontend/src/app/page.tsx
  packages/frontend/src/components/common/TextEditor/TextEditor.stories.tsx
  packages/frontend/src/components/common/TextEditor/TextEditor.test.tsx
  packages/frontend/src/components/common/TextEditor/TextEditor.tsx
  packages/frontend/src/components/common/TextEditor/index.ts
  packages/frontend/src/features/acl/CreateID.ts
Labels: frontend

#249 フロントのOpenAPI自動生成
  packages/frontend/.eslintrc.json
  packages/frontend/.vscode/settings.json
  packages/frontend/api-generate.sh
  packages/frontend/orval.config.js
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/app/page.tsx
  packages/frontend/src/app/test/layout.tsx
  packages/frontend/src/app/test/orval/page.tsx
  packages/frontend/src/app/test/page.tsx
  packages/frontend/src/openapi/stlaticaInternalApi.msw.ts
  packages/frontend/src/openapi/stlaticaInternalApi.schemas.ts
  packages/frontend/src/openapi/stlaticaInternalApi.ts
  packages/frontend/tsconfig.json
  packages/shared/openapi/README.md
  packages/shared/openapi/internalapi/openapi.yaml
  packages/shared/openapi/internalapi/schemas/UserID.yaml
  packages/shared/openapi/package.json
  packages/shared/openapi/pnpm-lock.yaml
Labels: frontend

#251 vitest uiの追加
  packages/frontend/README.md
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
Labels: frontend, environment

#255 Fix endpoint name
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_server.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_spec.gen.go
  packages/shared/openapi/internalapi/openapi.yaml
Labels: backend

#256 api responseのplatにpropertyを追加
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_spec.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_types.gen.go
  packages/shared/openapi/internalapi/paths/timelines.yaml
  packages/shared/openapi/internalapi/schemas/Plat.yaml
Labels: backend

#257 timeline取得endpointのmockを追加
  packages/backend/app/domains/types/unix_time.go
  packages/backend/mock/cmd/internalapi/main.go
  packages/backend/mock/controllers/internalapi/v1/handler.go
Labels: backend

#259 image取得endpointのmockを追加
  packages/backend/.golangci.yaml
  packages/backend/mock/controllers/internalapi/v1/handler.go
  packages/backend/mock/controllers/internalapi/v1/image.go
Labels: backend

#273 fix github action
  .github/workflows/actions.yml
  .github/workflows/frontend-vrt.yml
  packages/backend/README.md
  packages/frontend/README.md
Labels: infra-ci/cd

#275 vrt fix
  .github/workflows/actions.yml
  packages/frontend/README.md
Labels: infra-ci/cd

#263 redocly bundleの処理を修正
  packages/backend/Makefile
  packages/backend/docker-compose.yaml
  packages/backend/docker/Dockerfile_redocly
  packages/backend/docker/scripts/redocly_bundle.sh
Labels: bug, backend

#212 Webfinger#93
  packages/shared/openapi/externalapi/openapi.yaml
Labels: backend, design

#214 add nodeinfo definition
  packages/shared/openapi/externalapi/openapi.yaml
Labels: backend, design

#242 Add plats usecase/#198
  packages/backend/app/repositories/dao/plat_dao.go
  packages/backend/app/usecases/plats/usecase.go
Labels: backend

#183 ログ設計たたき台
  docs/designs/log_design.md
Labels: documentation

#276 バグIssueテンプレートを追加
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/task.md
Labels: infra-ci/cd

#260 favorite追加、削除機能を追加
  packages/shared/openapi/internalapi/openapi.yaml
  packages/shared/openapi/internalapi/paths/plats.yaml
Labels: backend
