Repository stlatica/stlatica, pull requests merged in 2024-02, with the labels that each got.

#285 frontend makefile
  .github/workflows/actions.yml
  .gitignore
  packages/frontend/.gitignore
  packages/frontend/Dockerfile
  packages/frontend/Dockerfile.vrt
  packages/frontend/Makefile
  packages/frontend/README.md
  packages/frontend/docker-compose.yaml
  packages/frontend/docker/Dockerfile.node.dev
  packages/frontend/docker/Dockerfile.vrt
  packages/frontend/next.config.js
  packages/frontend/package.json
  packages/frontend/playwright/.dockerignore
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--block--leftuserviewtop--story1-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--button--cancelbutton--sample1-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--button--followbutton---動作サンプル-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--button--followbutton--フォロー中-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--button--followbutton--未フォロー-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--button--submitbutton--sample1-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--platcell--1行の-plat-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--platcell--width-1000-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--platcell--width-310-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--platcell--width-700-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--platcell--複数行の-plat-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--texteditor--name--nobuchi--visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--texteditor--name--none--visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--texteditor--self-introduction--nobuchi--visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--texteditor--self-introduction--none--visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--texteditor--背景色は引き継げない-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--others--leftuserview--story1-visual-snapshot-linux.png
  packages/frontend/playwright/vrt-build.sh
  packages/frontend/playwright/vrt.sh
Labels: frontend, environment

#294 plat作成のdomain layerを実装
  packages/backend/app/domains/plats/factory.go
  packages/backend/app/domains/plats/ports/input_port.go
  packages/backend/app/domains/plats/post.go
Labels: backend

#298 backend用のloggerを追加
  packages/backend/app/cmd/inits/logger.go
  packages/backend/app/cmd/internalapi/main.go
  packages/backend/app/domains/actors/factory.go
  packages/backend/app/domains/actors/get.go
  packages/backend/app/logger/app.go
  packages/backend/app/pkg/logger/logger.go
  packages/backend/app/pkg/logger/zap.go
  packages/backend/app/usecases/actors/usecase.go
  packages/backend/go.mod
Labels: backend

#305 reinstall mui
  packages/frontend/.ladle/components.tsx
  packages/frontend/Makefile
  packages/frontend/docker-compose.yaml
  packages/frontend/docker/Dockerfile.node.dev
  packages/frontend/docker/Dockerfile.vrt
  packages/frontend/package.json
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--block--leftuserviewtop--story1-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--button--backbutton--story1-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--button--cancelbutton--sample1-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--button--followbutton---動作サンプル-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--button--followbutton--フォロー中-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--button--followbutton--未フォロー-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--button--submitbutton--sample1-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--platcell--1行の-plat-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--platcell--width-1000-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--platcell--width-310-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--platcell--width-700-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--platcell--複数行の-plat-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--texteditor--name--none--visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--texteditor--name--with-lavel--visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--texteditor--self-introduction--none--visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--texteditor--self-introduction--with-lavel--visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--usericon--display-icon-100px-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--usericon--display-icon-300px-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--common--usericon--display-icon-全幅-visual-snapshot-linux.png
  packages/frontend/playwright/snapshots/snapshot.test.ts-snapshots/components--others--leftuserview--story1-visual-snapshot-linux.png
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/app/EditProfile/page.tsx
  packages/frontend/src/app/layout.tsx
  packages/frontend/src/app/providers.tsx
  packages/frontend/src/components/button/BackButton/BackButton.tsx
  packages/frontend/src/components/button/CancelButton/CancelButton.tsx
  packages/frontend/src/components/button/SubmitButton/SubmitButton.stories.tsx
  packages/frontend/src/components/button/SubmitButton/SubmitButton.tsx
  packages/frontend/src/components/button/SubmitButton/sample.tsx
  packages/frontend/src/components/common/PlatCell/PlatCell.tsx
  packages/frontend/src/components/common/TextEditor/TextEditor.stories.tsx
  packages/frontend/src/components/common/TextEditor/TextEditor.tsx
  packages/frontend/src/features/acl/CreateID.ts
Labels: frontend

#316 Add list target in Makefile
  packages/backend/Makefile
Labels: backend

#303 Post plat repository/#218
  packages/backend/app/repositories/dao/plat_dao.go
Labels: backend

#317 timelineに関連するtable schemaを追加
  packages/backend/db/migrations/20240218205040_add_timelines.sql
  packages/backend/db/migrations/20240218205826_add_timeline_users.sql
Labels: backend
