Repository stlatica/stlatica, pull requests merged in 2024-05, with the labels that each got.

#404 error handlerを追加
  packages/backend/app/cmd/internalapi/main.go
  packages/backend/app/controllers/internalapi/v1/error_handler.go
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/pkg/logger/zap.go
Labels: backend

#422 READMEに技術スタック系バッジ追加
  README.md
Labels: documentation

#428 PR template中のコメントから余分な空行を削除
  .github/PULL_REQUEST_TEMPLATE.md
Labels: environment

#432 ladle hmr 対応
  packages/frontend/Makefile
  packages/frontend/docker-compose.yaml
Labels: bug, frontend

#434 OpenAPIのDocker起動を修正
  .github/workflows/actions.yml
  packages/shared/openapi/.gitignore
  packages/shared/openapi/Makefile
  packages/shared/openapi/docker-compose.yaml
  packages/shared/openapi/docker/Dockerfile
Labels: environment

#430 objectstorage clientを追加
  packages/backend/.env.local
  packages/backend/.gitignore
  packages/backend/app/cmd/inits/logger.go
  packages/backend/app/cmd/inits/objectstorage.go
  packages/backend/app/controllers/internalapi/v1/error_handler.go
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/domains/plats/factory.go
  packages/backend/app/domains/plats/get.go
  packages/backend/app/domains/plats/post.go
  packages/backend/app/domains/users/factory.go
  packages/backend/app/domains/users/get.go
  packages/backend/app/pkg/logger/app.go
  packages/backend/app/pkg/objectstorage/client.go
  packages/backend/app/usecases/plats/usecase.go
  packages/backend/app/usecases/users/usecase.go
  packages/backend/docker-compose.yaml
  packages/backend/go.mod
  packages/backend/go.sum
Labels: backend

#445 sqlboilerの設定を修正
  packages/backend/app/domains/entities/plats.boil.go
  packages/backend/app/domains/entities/plats.go
  packages/backend/app/domains/entities/users.boil.go
  packages/backend/app/domains/entities/users.go
  packages/backend/app/repositories/dao/plat_dao.go
  packages/backend/app/repositories/dao/user_dao.go
  packages/backend/app/repositories/entities/plats.go
  packages/backend/app/repositories/entities/users.go
  packages/backend/db/sqlboiler/generate_codes.sh
  packages/backend/db/sqlboiler/sqlboiler.toml
  packages/backend/db/sqlboiler/templates/entities.go.tpl
Labels: backend

#438 remove github pages action
  .github/workflows/actions.yml
Labels: infra-ci/cd

#429 Redis wrapper package/#413
  packages/backend/app/cmd/inits/kvs.go
  packages/backend/app/pkg/kvs/client.go
  packages/backend/go.mod
  packages/backend/go.sum
Labels: backend, dependencies

#447 timelines tableからコード生成
  packages/backend/app/domains/entities/timelines.boil.go
  packages/backend/app/domains/entities/timelines.go
  packages/backend/app/domains/entities/users.boil.go
  packages/backend/app/domains/types/timeline_id.go
  packages/backend/app/repositories/entities/boil_table_names.go
  packages/backend/app/repositories/entities/timelines.go
  packages/backend/app/repositories/entities/users.go
  packages/backend/db/sqlboiler/sqlboiler.toml
  packages/backend/db/sqlboiler/templates/entities.go.tpl
Labels: backend

#452 Fix openapi hot reload
  packages/shared/openapi/Makefile
Labels: environment
