Repository stlatica/stlatica, pull requests merged in 2024-08, with the labels that each got.

#487 image削除のendpointを実装
  packages/backend/app/adapters/images/adapter.go
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/image.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_server.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_spec.gen.go
  packages/backend/app/domains/images/delete.go
  packages/backend/app/domains/images/factory.go
  packages/backend/app/domains/images/ports/output_port.go
  packages/backend/app/pkg/objectstorage/client.go
  packages/backend/app/usecases/images/ports/adapter.go
  packages/backend/app/usecases/images/usecase.go
  packages/backend/mock/controllers/internalapi/v1/handler.go
  packages/shared/openapi/internalapi/paths/images.yaml
Labels: enhancement, backend

#525 follows取得endpointを実装
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/user.go
  packages/backend/app/domains/entities/user_relations.go
  packages/backend/app/domains/users/get.go
  packages/backend/app/domains/users/ports/get_params.go
  packages/backend/app/domains/users/ports/input_port.go
  packages/backend/app/repositories/dao/user_dao.go
  packages/backend/app/usecases/users/ports/get_params.go
  packages/backend/app/usecases/users/usecase.go
Labels: backend

#529 Fix renovate config
  renovate.json
Labels: environment

#553 なんかいい感じになるように Renove の設定作成
  renovate.json
Labels: infra-ci/cd

#535 Add openapi schema of getting user icon endpoint
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_server.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_spec.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_types.gen.go
  packages/backend/mock/controllers/internalapi/v1/handler.go
  packages/shared/openapi/internalapi/openapi.yaml
  packages/shared/openapi/internalapi/paths/users.yaml
  packages/shared/openapi/internalapi/schemas/ErrorResponse.yaml
Labels: backend

#578 Renovate のwarn修正、labelとassignの自動付与
  renovate.json
Labels: infra-ci/cd

#576 golangがインストールされていない環境でもmakeを使用できるように修正
  packages/backend/Makefile
  packages/backend/docker-compose.yaml
  packages/backend/docker/Dockerfile_air
  packages/backend/docker/Dockerfile_goose
Labels: backend

#473 Fst auth package/#333
  packages/backend/app/pkg/auth/auth.go
  packages/backend/go.mod
  packages/backend/go.sum
Labels: backend

#589 container内部で使用する環境変数を修正
  packages/backend/.env.local.docker
Labels: backend

#505 replace tailwind -> vanilla extract
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--1行の-plat-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--width-1000-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--width-310-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--width-700-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--複数行の-plat-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--usericon--display-icon-100px-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--usericon--display-icon-300px-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--usericon--display-icon-全幅-visual-snapshot-linux.png
  packages/frontend/package.json
  packages/frontend/src/components/button/LoginButton/LoginButton.stories.tsx
  packages/frontend/src/components/button/LoginButton/LoginButton.tsx
  packages/frontend/src/components/button/LoginButton/index.ts
  packages/frontend/src/components/common/PlatCell/PlatCell.css.ts
  packages/frontend/src/components/common/PlatCell/PlatCell.stories.tsx
  packages/frontend/src/components/common/PlatCell/PlatCell.tsx
  packages/frontend/src/components/common/TextEditor/TextEditor.stories.tsx
  packages/frontend/src/components/common/UserIcon/UserIcon.stories.tsx
  packages/frontend/src/components/common/UserIcon/UserIcon.tsx
  packages/frontend/src/components/common/UserIcon/user-icon.css.ts
  packages/frontend/src/components/timelines/ProfileView/ProfileView.css.ts
  packages/frontend/src/components/timelines/ProfileView/ProfileView.stories.tsx
  packages/frontend/src/components/timelines/ProfileView/ProfileView.tsx
  packages/frontend/src/routes/_index.tsx
  packages/frontend/src/routes/about.tsx
  packages/frontend/src/routes/edit_profile.tsx
  packages/frontend/src/routes/login.tsx
  packages/frontend/src/routes/settings.account_.tsx
  packages/frontend/src/routes/settings.tsx
  packages/frontend/src/routes/test.orval.tsx
  packages/frontend/src/routes/test.tsx
  packages/frontend/src/routes/user.$id.tsx
  packages/frontend/src/styles/routes/about.css.ts
  packages/frontend/src/styles/routes/edit_profile.css.ts
  packages/frontend/src/styles/routes/index.css.ts
  packages/frontend/src/styles/routes/login.css.ts
  packages/frontend/src/styles/routes/settings.css.ts
  packages/frontend/src/styles/routes/test.css.ts
  packages/frontend/src/styles/routes/user.id.css.ts
Labels: frontend

#484 API統合作業
  packages/backend/Makefile
  packages/backend/app/controllers/internalapi/v1/plat.go
  packages/frontend/.dockerignore
  packages/frontend/Makefile
  packages/frontend/docker-compose.yaml
  packages/frontend/docker/Dockerfile.node
  packages/frontend/orval.config.ts
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/components/timelines/Timeline/Timeline.tsx
  packages/frontend/src/features/globalStore/TimelineStore.ts
  packages/frontend/src/features/type/useForm.ts
  packages/frontend/src/openapi/stlaticaInternalApi.msw.ts
  packages/frontend/src/openapi/stlaticaInternalApi.schemas.ts
  packages/frontend/src/openapi/stlaticaInternalApi.ts
  packages/frontend/src/routes/_index.tsx
  packages/frontend/src/routes/post.tsx
  packages/shared/openapi/Makefile
Labels: frontend

#527 Add followers getting endpoint/#476
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/plat.go
  packages/backend/app/controllers/internalapi/v1/user.go
  packages/backend/app/domains/plats/get.go
  packages/backend/app/domains/plats/ports/get_params.go
  packages/backend/app/domains/types/unix_time.go
  packages/backend/app/domains/users/get.go
  packages/backend/app/domains/users/ports/get_params.go
  packages/backend/app/domains/users/ports/input_port.go
  packages/backend/app/repositories/dao/plat_dao.go
  packages/backend/app/repositories/dao/user_dao.go
  packages/backend/app/usecases/plats/ports/get_params.go
  packages/backend/app/usecases/users/ports/get_params.go
  packages/backend/app/usecases/users/usecase.go
Labels: backend
