Repository stlatica/stlatica, pull requests merged in 2024-11, with the labels that each got.

#675 コマンドの名称をobject-storageからminioに変更
  packages/backend/Makefile
Labels: backend

#696 login endpointで使用するDAOを更新
  packages/backend/app/domains/entities/user_auth_credentials.go
  packages/backend/app/repositories/dao/user_auth_credential_dao.go
  packages/backend/app/repositories/dao/user_dao.go
Labels: backend

#703 golangci-lintのバージョンを更新
  packages/backend/.golangci.yaml
  packages/backend/app/domains/contexts/user_id.go
  packages/backend/go.mod
  packages/backend/go.sum
Labels: backend, dependencies

#701 platのoutput-portとinput-portを正しく振り分け直す
  packages/backend/app/domains/plats/ports/input_port.go
  packages/backend/app/domains/plats/ports/output_port.go
  packages/backend/app/domains/plats/post.go
Labels: backend

#705 READMEにセットアップ方法とディレクトリ構造を追加
  README.md
Labels: documentation, beginner

#707 tblsを導入
  packages/backend/Makefile
  packages/backend/db/tbls/.tbls.yml
  packages/backend/db/tbls/README.md
  packages/backend/db/tbls/goose_db_version.md
  packages/backend/db/tbls/goose_db_version.svg
  packages/backend/db/tbls/plats.md
  packages/backend/db/tbls/plats.svg
  packages/backend/db/tbls/schema.json
  packages/backend/db/tbls/schema.svg
  packages/backend/db/tbls/timeline_users.md
  packages/backend/db/tbls/timeline_users.svg
  packages/backend/db/tbls/timelines.md
  packages/backend/db/tbls/timelines.svg
  packages/backend/db/tbls/user_auth_credentials.md
  packages/backend/db/tbls/user_auth_credentials.svg
  packages/backend/db/tbls/user_relations.md
  packages/backend/db/tbls/user_relations.svg
  packages/backend/db/tbls/users.md
  packages/backend/db/tbls/users.svg
  packages/backend/docker-compose.yaml
Labels: documentation, infra-ci/cd, backend

#711 auth endpoint用のdomain layerおよびusecase layerを追加
  packages/backend/app/domains/auth/auth.go
  packages/backend/app/domains/auth/factory.go
  packages/backend/app/domains/auth/ports/input_port.go
  packages/backend/app/domains/auth/ports/output_port.go
  packages/backend/app/usecases/auth/ports/adapter.go
  packages/backend/app/usecases/auth/usecase.go
Labels: backend

#713 ユーザー表示を左から上に
  packages/api-mock/docker-compose.yaml
  packages/api-mock/src/main.ts
  packages/frontend/.ladle/components.tsx
  packages/frontend/README.md
  packages/frontend/biome.json
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/button--platmenubutton--sample1-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--1行の-plat-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--width-1000-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--width-310-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--width-700-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--複数行の-plat-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--usericon--display-icon-全幅-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/timelines--profileview--story1-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/timelines--userprofilepanel--story1-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/timelines--userprofilepanel--width-300px-visual-snapshot-linux.png
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/timelines--userprofilepanel--width-700px-visual-snapshot-linux.png
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/postcss.config.cjs
  packages/frontend/src/components/block/LeftUserView/LeftUserView.css.ts
  packages/frontend/src/components/block/LeftUserView/LeftUserView.stories.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserView.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserViewTop/LeftUserViewTop.stories.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserViewTop/LeftUserViewTop.tsx
  packages/frontend/src/components/block/LeftUserView/LeftUserViewTop/index.ts
  packages/frontend/src/components/block/LeftUserView/index.ts
  packages/frontend/src/components/timelines/ProfileView/ProfileView.stories.tsx
  packages/frontend/src/components/timelines/ProfileView/ProfileView.tsx
  packages/frontend/src/components/timelines/UserProfilePanel/UserProfilePanel.css.ts
  packages/frontend/src/components/timelines/UserProfilePanel/UserProfilePanel.stories.tsx
  packages/frontend/src/components/timelines/UserProfilePanel/UserProfilePanel.tsx
  packages/frontend/src/root.tsx
  packages/frontend/src/routes/global.css
  packages/frontend/src/routes/user.$id.tsx
  packages/frontend/src/styles/global.css
  packages/frontend/src/styles/routes/user.id.css.ts
  packages/frontend/tailwind.config.ts
Labels: frontend

#719 goのバージョンを更新
  packages/backend/.go-version
  packages/backend/docker/Dockerfile_air
  packages/backend/docker/Dockerfile_goose
Labels: go

#721 バックエンドのコンテナに restart: always 付与
  packages/backend/docker-compose.yaml
Labels: environment
