Repository stlatica/stlatica, pull requests merged in 2024-06, with the labels that each got.

#446 plat取得endpointのresponse不足要素を追加する
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_spec.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_types.gen.go
  packages/backend/app/controllers/internalapi/v1/plat.go
  packages/backend/app/domains/entities/timelines.boil.go
  packages/backend/app/domains/entities/timelines.go
  packages/backend/app/domains/entities/users.boil.go
  packages/backend/app/domains/types/timeline_id.go
  packages/backend/app/repositories/entities/boil_table_names.go
  packages/backend/app/repositories/entities/timelines.go
  packages/backend/app/repositories/entities/users.go
  packages/backend/db/sqlboiler/sqlboiler.toml
  packages/backend/db/sqlboiler/templates/entities.go.tpl
  packages/backend/mock/controllers/internalapi/v1/handler.go
  packages/shared/openapi/internalapi/schemas/Plat.yaml
Labels: backend

#455 MITライセンスファイルの追加
  LICENSE
Labels: documentation

#453 plat cellの不足要素追加_remix_パーミッションコミット除去版/#355
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/button--platmenubutton--sample1-visual-snapshot-linux.png
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--1行の-plat-visual-snapshot-linux.png
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--width-1000-visual-snapshot-linux.png
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--width-310-visual-snapshot-linux.png
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--width-700-visual-snapshot-linux.png
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--platcell--複数行の-plat-visual-snapshot-linux.png
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--texteditor--name--none--visual-snapshot-linux.png
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--texteditor--name--with-lavel--visual-snapshot-linux.png
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--texteditor--self-introduction--none--visual-snapshot-linux.png
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/common--texteditor--self-introduction--with-lavel--visual-snapshot-linux.png
  packages/frontend/remix/src/components/button/PlatMenuButton/PlatMenuButton.stories.tsx
  packages/frontend/remix/src/components/button/PlatMenuButton/PlatMenuButton.tsx
  packages/frontend/remix/src/components/button/PlatMenuButton/index.ts
  packages/frontend/remix/src/components/common/PlatCell/PlatCell.stories.tsx
  packages/frontend/remix/src/components/common/PlatCell/PlatCell.tsx
Labels: frontend

#463 twitter 風のプロフィール表示を作成
  packages/frontend/remix/.eslintrc.cjs
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/timelines--user-profile-header--story1-visual-snapshot-linux.png
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/timelines--user-profile-header--width-300px-visual-snapshot-linux.png
  packages/frontend/remix/e2e/ladle-snapshots/snapshot.test.ts-snapshots/timelines--user-profile-header--width-700px-visual-snapshot-linux.png
  packages/frontend/remix/playwright.config.ts
  packages/frontend/remix/src/components/timelines/UserProfilePanel/UserProfilePanel.css.ts
  packages/frontend/remix/src/components/timelines/UserProfilePanel/UserProfilePanel.stories.tsx
  packages/frontend/remix/src/components/timelines/UserProfilePanel/UserProfilePanel.tsx
Labels: frontend

#461 timeline取得endpointを実装
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_server.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_spec.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_types.gen.go
  packages/backend/app/controllers/internalapi/v1/plat.go
  packages/backend/app/domains/plats/get.go
  packages/backend/app/domains/plats/ports/get_params.go
  packages/backend/app/domains/plats/ports/input_port.go
  packages/backend/app/domains/types/timeline_type.go
  packages/backend/app/repositories/dao/plat_dao.go
  packages/backend/app/usecases/plats/ports/get_params.go
  packages/backend/app/usecases/plats/usecase.go
Labels: backend

#456 timeline取得endpointにfrom_date parameterを追加
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_server.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_spec.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_types.gen.go
  packages/backend/app/controllers/internalapi/v1/plat.go
  packages/backend/app/domains/plats/get.go
  packages/backend/app/domains/plats/ports/get_params.go
  packages/backend/app/domains/plats/ports/input_port.go
  packages/backend/app/domains/types/timeline_type.go
  packages/backend/app/repositories/dao/plat_dao.go
  packages/backend/app/usecases/plats/ports/get_params.go
  packages/backend/app/usecases/plats/usecase.go
  packages/shared/openapi/internalapi/parameters/timeline_queries.yaml
  packages/shared/openapi/internalapi/paths/timelines.yaml
Labels: backend

#467 local環境におけるCORSに関する設定を追加
  packages/backend/app/cmd/internalapi/main.go
  packages/backend/go.mod
  packages/backend/go.sum
Labels: backend

#464 Remove "project" checklist from PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: infra-ci/cd

#469 プロフィール表示の画像を固定のサンプルに差し替え
  packages/frontend/remix/src/components/timelines/UserProfilePanel/UserProfilePanel.tsx
  packages/frontend/remix/src/features/sample/sample-image/SampleImageBrown400.ts
  packages/frontend/remix/src/features/sample/sample-image/SampleImageGreen400.ts
Labels: frontend
