Repository stlatica/stlatica, pull requests merged in 2024-07, with the labels that each got.

#468 PR：platを投稿した相対時間（ｎ分前...）を計算する関数の作成
  packages/frontend/remix/src/components/common/PlatCell/PlatDateFormatter.test.ts
  packages/frontend/remix/src/components/common/PlatCell/PlatDateFormatter.ts
Labels: frontend

#472 ciでgofmt -wを実行し、コミットする
  .github/workflows/actions.yml
Labels: infra-ci/cd, backend

#459 image getのendpointを実装
  packages/backend/.env.local
  packages/backend/app/adapters/images/adapter.go
  packages/backend/app/cmd/inits/objectstorage.go
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/image.go
  packages/backend/app/domains/images/factory.go
  packages/backend/app/domains/images/get.go
  packages/backend/app/domains/images/ports/output_port.go
  packages/backend/app/pkg/objectstorage/client.go
  packages/backend/app/usecases/images/ports/adapter.go
  packages/backend/app/usecases/images/usecase.go
Labels: enhancement, backend

#465 タイムラインの仮想リスト実装によるチューニング
  packages/api-mock/docker-compose.yaml
  packages/api-mock/package.json
  packages/api-mock/src/main.ts
  packages/api-mock/src/schema.d.ts
  packages/frontend/e2e/ladle-snapshots/snapshot.test.ts-snapshots/timelines--timeline--profile-timeline-visual-snapshot-linux.png
  packages/frontend/e2e/report/.gitkeep
  packages/frontend/package.json
  packages/frontend/playwright.config.ts
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/components/common/PlatCell/PlatCellWithFetch.tsx
  packages/frontend/src/components/common/UserIcon/UserIcon.tsx
  packages/frontend/src/components/timelines/Timeline/Timeline.css.ts
  packages/frontend/src/components/timelines/Timeline/Timeline.tsx
Labels: frontend

#485 user_auth_credentials tableのschemaを修正
  packages/backend/db/migrations/20240324205000_add_user_auth_credentials.sql
Labels: backend

#523 Regenerate codes from openapi
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_server.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_spec.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_types.gen.go
  packages/backend/mock/controllers/internalapi/v1/handler.go
  packages/shared/openapi/internalapi/paths/follows.yaml
Labels: backend

#486 user_relations tableを追加
  packages/backend/db/migrations/20240721184556_add_user_relations.sql
Labels: backend

#511 Generate codes from user_relations table
  packages/backend/app/controllers/internalapi/v1/handler.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_server.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_spec.gen.go
  packages/backend/app/controllers/internalapi/v1/openapi/internalapi_types.gen.go
  packages/backend/app/domains/entities/user_relations.boil.go
  packages/backend/app/domains/entities/users.boil.go
  packages/backend/app/repositories/entities/boil_table_names.go
  packages/backend/app/repositories/entities/user_relations.go
  packages/backend/app/repositories/entities/users.go
  packages/backend/db/sqlboiler/sqlboiler.toml
  packages/backend/go.mod
  packages/backend/go.sum
  packages/backend/mock/controllers/internalapi/v1/handler.go
  packages/shared/openapi/internalapi/paths/follows.yaml
Labels: backend
