Repository stlatica/stlatica, pull requests merged in 2024-12, with the labels that each got.

#738 [fix] メンテ止めていいパッケージは renovate 除外
  renovate.json
Labels: infra-ci/cd

#723 local/generate-db-docsからdocker/generate-db-docsに変更、docker/stop-dbを追加
  packages/backend/Makefile
Labels: backend

#725 inをoutに変更
  packages/backend/app/domains/plats/post.go
  packages/backend/app/domains/users/ports/output_port.go
  packages/backend/app/domains/users/post.go
  packages/backend/app/usecases/users/usecase.go
Labels: backend

#739 BFFサーバーの準備
  packages/frontend/package.json
  packages/frontend/pnpm-lock.yaml
  packages/frontend/src/server/index.ts
  packages/frontend/vite.config.ts
  renovate.json
Labels: frontend
